# =========================
# AI Engine (Python)
# =========================
ai-engine/venv/
ai-engine/app/__pycache__
ai-engine/*.pyc
ai-engine/1233

ai-engine/app/ml_artifacts/finbert_model/*
!ai-engine/app/ml_artifacts/finbert_model/.gitkeep

__pycache__/
*.pyc
.pytest_cache/
ai-engine/.env

# =========================
# Backend (Java / Maven)
# =========================
backend/target/
backend/.mvn/
backend/*.iml
backend/.idea/

# =========================
# Frontend (Node.js / React / Vue etc.)
# =========================
frontend/node_modules/
frontend/dist/
frontend/.env